@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #7b4eb7;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #583C87;
    top: 39%;
    left: 45%;
    animation-duration: 13s;
    animation-delay: -17s;
    transform-origin: 7vw -5vh;
    box-shadow: 40vmin 0 5.1533738245312355vmin currentColor;
}
.background span:nth-child(1) {
    color: #E45A84;
    top: 6%;
    left: 24%;
    animation-duration: 8s;
    animation-delay: -50s;
    transform-origin: 22vw 7vh;
    box-shadow: -40vmin 0 5.738078825317777vmin currentColor;
}
.background span:nth-child(2) {
    color: #583C87;
    top: 34%;
    left: 36%;
    animation-duration: 55s;
    animation-delay: -38s;
    transform-origin: 10vw 0vh;
    box-shadow: 40vmin 0 5.652212675485879vmin currentColor;
}
.background span:nth-child(3) {
    color: #E45A84;
    top: 95%;
    left: 94%;
    animation-duration: 46s;
    animation-delay: -48s;
    transform-origin: -7vw -12vh;
    box-shadow: -40vmin 0 5.656778191205508vmin currentColor;
}
.background span:nth-child(4) {
    color: #E45A84;
    top: 1%;
    left: 5%;
    animation-duration: 36s;
    animation-delay: -48s;
    transform-origin: 10vw 17vh;
    box-shadow: 40vmin 0 5.106888222262381vmin currentColor;
}
.background span:nth-child(5) {
    color: #583C87;
    top: 19%;
    left: 17%;
    animation-duration: 49s;
    animation-delay: -50s;
    transform-origin: -1vw -13vh;
    box-shadow: -40vmin 0 5.024625691026945vmin currentColor;
}
.background span:nth-child(6) {
    color: #E45A84;
    top: 76%;
    left: 30%;
    animation-duration: 53s;
    animation-delay: -13s;
    transform-origin: 17vw -15vh;
    box-shadow: -40vmin 0 5.810838839652339vmin currentColor;
}
.background span:nth-child(7) {
    color: #E45A84;
    top: 24%;
    left: 18%;
    animation-duration: 17s;
    animation-delay: -31s;
    transform-origin: -3vw -13vh;
    box-shadow: 40vmin 0 5.242193034315859vmin currentColor;
}
.background span:nth-child(8) {
    color: #583C87;
    top: 35%;
    left: 4%;
    animation-duration: 47s;
    animation-delay: -28s;
    transform-origin: 21vw 10vh;
    box-shadow: -40vmin 0 5.465660469292804vmin currentColor;
}
.background span:nth-child(9) {
    color: #E45A84;
    top: 8%;
    left: 25%;
    animation-duration: 40s;
    animation-delay: -45s;
    transform-origin: 11vw -3vh;
    box-shadow: 40vmin 0 5.899374273945039vmin currentColor;
}
.background span:nth-child(10) {
    color: #FFACAC;
    top: 90%;
    left: 56%;
    animation-duration: 46s;
    animation-delay: -1s;
    transform-origin: -12vw 10vh;
    box-shadow: 40vmin 0 5.886235361958395vmin currentColor;
}
.background span:nth-child(11) {
    color: #E45A84;
    top: 35%;
    left: 25%;
    animation-duration: 50s;
    animation-delay: -11s;
    transform-origin: 20vw 19vh;
    box-shadow: -40vmin 0 5.8832768059098886vmin currentColor;
}
.background span:nth-child(12) {
    color: #E45A84;
    top: 75%;
    left: 83%;
    animation-duration: 26s;
    animation-delay: -28s;
    transform-origin: 23vw -19vh;
    box-shadow: -40vmin 0 5.764630151975987vmin currentColor;
}
.background span:nth-child(13) {
    color: #FFACAC;
    top: 73%;
    left: 35%;
    animation-duration: 11s;
    animation-delay: -23s;
    transform-origin: -19vw -5vh;
    box-shadow: -40vmin 0 5.86400838336005vmin currentColor;
}
.background span:nth-child(14) {
    color: #583C87;
    top: 67%;
    left: 84%;
    animation-duration: 32s;
    animation-delay: -26s;
    transform-origin: -12vw 7vh;
    box-shadow: -40vmin 0 5.408977601822129vmin currentColor;
}
.background span:nth-child(15) {
    color: #583C87;
    top: 38%;
    left: 84%;
    animation-duration: 8s;
    animation-delay: -6s;
    transform-origin: -9vw -20vh;
    box-shadow: 40vmin 0 5.116507562462822vmin currentColor;
}
.background span:nth-child(16) {
    color: #FFACAC;
    top: 53%;
    left: 98%;
    animation-duration: 47s;
    animation-delay: -39s;
    transform-origin: -6vw -23vh;
    box-shadow: 40vmin 0 5.538450224421133vmin currentColor;
}
.background span:nth-child(17) {
    color: #FFACAC;
    top: 40%;
    left: 34%;
    animation-duration: 25s;
    animation-delay: -37s;
    transform-origin: 20vw -2vh;
    box-shadow: -40vmin 0 5.369270301440948vmin currentColor;
}
.background span:nth-child(18) {
    color: #E45A84;
    top: 40%;
    left: 99%;
    animation-duration: 45s;
    animation-delay: -2s;
    transform-origin: 23vw -15vh;
    box-shadow: -40vmin 0 5.601303500154051vmin currentColor;
}
.background span:nth-child(19) {
    color: #E45A84;
    top: 12%;
    left: 89%;
    animation-duration: 37s;
    animation-delay: -8s;
    transform-origin: 2vw 7vh;
    box-shadow: 40vmin 0 5.009305434117826vmin currentColor;
}
