body{
    background:
  no-repeat
    url("./images/bgwild.jpg");
    background-size: cover;
}

.MainText {
    position: absolute;
    top: 200px;
    left: 40%;
}

.Welcome {
    display: flex;
}

.Welcome h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: bold;
}
.Welcome a{
    margin-left: 15px;
    font-family: "Henny Penny", system-ui;
    font-size: 3rem;
    color: brown;
    animation:rota 5s linear infinite;
}
.Welcome a:hover{
    animation:rota2 1s ease infinite;
    color: blueviolet;
}
.Welcome a:active{
    transform: scale(0.65);
    animation: none;
    color: green;
}

@keyframes rota {
  25% 
  {transform: rotate(30deg);}
  50% 
  {transform: rotate(0deg);}  
75% 
{transform: rotate(-30deg);}
}

@keyframes rota2 {
  25% 
  {transform: rotate(40deg);}
  50% 
  {transform: rotate(0deg);}  
75% 
{transform: rotate(-40deg);}
}

.MainText h3{
    letter-spacing: 2px;
    color:blueviolet;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    text-shadow: 11px 16px 1px #ffffff;
    margin: 0 15px;
}

.MainText h3:hover {
    color: brown;
    letter-spacing: 7px;
}

/* Bouton Discover /*/ 
.slice {
    margin: 10vh 15vw;
  --c1: hsl(234, 100%, 50%);
  --c2: lch(82.78% 102.76 132.77);
  --size-letter: 32px;
  padding: 0.5em 1em;
  font-family: "Henny Penny", system-ui;
  font-size: var(--size-letter);

  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: 1.5em;
  cursor: pointer;

  overflow: hidden;
  position: relative;
  transition: 300ms cubic-bezier(0.83, 0, 0.17, 1);

  & > .text {
    font-weight: 700;
    color: var(--c2);
    position: relative;
    z-index: 1;
    transition: color 700ms cubic-bezier(0.83, 0, 0.17, 1);
  }
}
        /* SLICE */
.slice::after {
  content: "";

  width: 0;
  height: calc(300% + 1em);

  position: absolute;
  translate: -50% -50%;
  inset: 50%;
  rotate: 30deg;

  background-color: var(--c2);
  transition: 1000ms cubic-bezier(0.83, 0, 0.17, 1);
}

.slice:hover {
  & > .text {
    color: var(--c1);
  }
  &::after {
    width: calc(120% + 1em);
  }
}

.slice:active {
  scale: 0.98;
  filter: brightness(1.2);
}

@media (max-width: 1060px) {
  body{
    background:
    no-repeat
    url("./images/bgwildm.jpg");
    background-size: 120vh;
  }

.Welcome{
  text-align: center;
  justify-content: center;
  margin: 1vh 5vw;
  }
  .Welcome h1{
    font-size: 1.2rem;
    text-align: center;
  }
  .Welcome a{
    font-size: 1.5rem;
  }
  .MainText h3:hover {
    color: brown;
    letter-spacing: 1px;
  }
}
