@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&family=Playwrite+AT:ital,wght@0,100..400;1,100..400&display=swap');


/*Suppression des styles URL et styles lists */
* {
text-decoration: none;
list-style-type: none;
/* border: 1px black solid; */
}


/* Barre Nav */
nav{
    z-index: 1000;
    border: 1px black;
    display: flex;
    margin: 0;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background: #57C785;
    background: linear-gradient(0deg, rgba(87, 199, 133, 0.25) 0%, rgba(237, 221, 83, 0.25) 55%, rgba(87, 199, 133, 0.25) 100%);
    border-radius: 25px;
    
}
nav:hover {
    background: #EDDD53;
    background: linear-gradient(0deg, rgba(237, 221, 83, 0.25) 0%, rgba(87, 199, 133, 0.25) 55%, rgba(237, 221, 83, 0.25) 100%);
}
/*Logo et Wild Nature*/
.Logo {
    padding: 0 15px;
    transition: 1s;
}

.Logo:hover{
    transform: scale(1.1);
    
}

#Emoji{
    font-size: 2rem;
    color: hsla(0, 0%, 0%, 0.178);
}
#Emoji:hover{
    color: #1900ff;
    box-shadow: hsla(197, 100%, 50%, 0.15) 0px 30px 60px -12px inset, hsla(300, 100%, 50%, 0.149) 0px 18px 36px -18px inset;
    border-radius: 50%;
}

#WS {
    color: hwb(225 25% 12% / 0.644);
    font-family: "Henny Penny", system-ui;
    font-weight: bold;
    font-size: 1.5rem;

}
#WS:hover {
    color: #1900ff;
    font-weight: bolder;
}

/*Menu Home Enviro Camping Team More*/
.Menu {
    padding-right: 1vw;
    margin: 0;
    padding: 0 5px;
    background: #57C785;
    background: linear-gradient(0deg, rgba(87, 199, 133, 0.25) 0%, rgba(237, 221, 83, 0.25) 55%, rgba(87, 199, 133, 0.25) 100%);
    border-radius: 25px;
}
.Menu:hover{
background: #EDDD53;
background: linear-gradient(0deg, rgba(237, 221, 83, 0.6) 0%, rgba(87, 199, 133, 0.6) 55%, rgba(237, 221, 83, 0.6) 100%);
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.Menu a{
    color: oklab(52.076% 0.10493 -0.27359 / 0.671);
}
.Menu ul {
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    gap: 0 15px;
    padding-right: 2vw;
    margin: 5px 0;
}

.Menu li {
    display: flex;
    align-items: center;
    /* border: 1px red; */
    color: #4B0082;
    margin: 0 15px;
    font-size: 1.2rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: 5s;
}


.Menu li a:hover{
    color:#000080;
    transform: scale(1.1);
    text-transform: uppercase ;
    text-decoration: underline;


}

.dot {
    position: relative;
    height: 0.5vh;
    width: 0.5vh;
    background-color: oklch(52.076% 0.29302 290.984);;
    border-radius: 50%;
    border: 1px solid oklch(52.076% 0.29302 290.984);
    margin: 15px 0;
}

@media (max-width: 1060px) {
    /* Revoir le BG */
    /* Baisser texte nav */
    .Logo {
        padding: 0 5px;
        }
    #Emoji{
        font-size: 1em;
    }
    #WS {
    font-size: 1em;
    }
}

@media (max-width: 820px) {
    .Menu {
    padding-right: 0vw;
    padding-left: 0;
    }
    .Menu ul{
    padding-left: 0;
    padding-right: 0;
    gap: 1px;
    }
    .Menu li {
    font-size: 0.8rem;
    }
    .dot{
    height: 0.25vh;
    width: 0.25vh;
    }

}